.App {
  text-align: center;
  margin: 120px 0px 0px 0px;
  padding: 0 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card-thumbnail{
  width: 100%;
}

/* --- nav bar --- start*/
.nav-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 120px;
  background-color: #fff;
  z-index: 1;
}
#breed-dropdown-btn{
  position: absolute;
  top: 40px;
  right: 24px;
}
#logo{
  position: absolute;
  left: 24px;
  line-height: 75px;
}
/* --- nav bar --- end*/

/* --- intro --- start*/
#intro{
  width: 60vw;
  margin: 0 auto;
  padding: 36px;
}
/* --- intro --- end*/
.card-thumb-container{
  width: 100%;
}
.gds-card__img-container{
  max-height: 15rem!important;
}

/* --- footer --- start*/
.footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 380px;
  background: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
